/* * V A R I A B L E S  */
:root {
  --green-color: #7acc2d;
  --green-color-shadow: #5e9e22;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: 10px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  font-size: 1.5rem;
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: darkslategray;
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* M A I N - S E C T I O N */
.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  /* border: solid red 1px; */
  background-image: url(/assets/imgs/curve.png);
  width: 100%;
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 12% 20%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  /* border: solid red 1px; */
  width: 50%;
  padding: 5%;
  margin-top: -300px;
}

.product .content {
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0 0 1.5px grey;
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  font-size: 1.8rem;
  color: var(--white-color);
  padding: 3%;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main_button:hover {
  background-color: var(--green-color-shadow);
}

h1 {
  font-size: 2.9rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.9rem;
  margin-bottom: 7px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 7px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  

.products-description {
  border-bottom: solid rgb(211, 211, 211) 1px;
  width: 100%;
  height: auto;
  padding: 1.5% 15%;
  display: flex;
  flex-wrap: wrap;
}

.product-inf {
  /* border: solid green 1px; */
  width: 33.33%;
  padding: 12% 4%;
}

.product-inf .content {
  /* border: solid green 1px; */
  text-align: center;
}

.img_content_inf {
  /* border: solid green 1px; */
  width: 60%;
}

.products-description-people {
  width: 100%;
  height: auto;
  padding: 1.5% 10%;
  display: flex;
  flex-wrap: wrap;
}

.products-description-people hgroup {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.product-inf-people {
  margin-top: 10px;
  /* border: solid green 1px; */
  width: 25%;
  padding: 0% 0.5%;
  margin-bottom: 5%;
}

.product-inf-people .content {
  /* border: solid green 1px; */
  box-shadow: 0 0 2px rgb(170, 170, 170);
  text-align: justify;
}

.img_content_people {
  width: 100%;
}

.text-people {
  padding: 5%;
}


footer{
    background-color: rgb(43, 43, 43);
    padding: 1.8%;
}

footer address{
    font-size: 1.5rem;
    color: var(--white-color);
}